.page[b-10fac6gbhd] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-10fac6gbhd] {
    flex: 1;
}

.sidebar[b-10fac6gbhd] {
    background: rgb(99,141,174);
    background: linear-gradient(360deg, rgb(115, 169, 225) 0%, rgb(102, 151, 201) 100%);
}

.top-row[b-10fac6gbhd] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-10fac6gbhd]  a, .top-row[b-10fac6gbhd]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-10fac6gbhd]  a:hover, .top-row[b-10fac6gbhd]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-10fac6gbhd]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 1023.98px) {
    .top-row:not(.auth)[b-10fac6gbhd] {
        display: none;
    }

    .top-row.auth[b-10fac6gbhd] {
        justify-content: space-between;
    }

    .top-row[b-10fac6gbhd]  a, .top-row[b-10fac6gbhd]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 1024px) {
    .page[b-10fac6gbhd] {
        flex-direction: row;
    }

    .sidebar[b-10fac6gbhd] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-10fac6gbhd] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-10fac6gbhd]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-10fac6gbhd], article[b-10fac6gbhd] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
