@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="d-flex align-items-center justify-content-center" style="height: 75vh;">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <RadzenCard class="rz-shadow-3" style="background-color:#f5f5f5;">
                    <img src="images/grupo_hitec_logo.svg" style="width:250px;" class="img-fluid pb-3">
                    <h5 style="color:#34578f; text-align:center;">Calculadora <small class="text-muted">v1.1.1</small></h5>
                </RadzenCard>
            </div>
        </div>
    </div>
</div>